<div class="container" >
  <div class="row">
    <div class="card" style="width: 18rem;margin-left: 200px;">
      <img class="card-img-top rounded mx-auto d-block" src="../../assets/images/deposit.svg" alt="Card image cap" style="width: 200px">
      <div class="card-body">
        <h5 class="card-title">Deposit Money</h5>
        <p class="card-text">Proceed to deposit money into your account.</p>
        <a (click)="onAddClick()" class="btn btn-success">Deposit Money</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;margin-left: 50px;">
      <img class="card-img-top rounded mx-auto d-block" src="../../assets/images/withdraw.svg" alt="Card image cap" style="width: 200px">
      <div class="card-body">
        <h5 class="card-title">Withdraw Money</h5>
        <p class="card-text">Proceed to Withdraw money from your account.</p>
        <a (click)="onWithdrawClick()" class="btn btn-success">Withdraw Money</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;margin-left: 50px;">
      <img class="card-img-top rounded mx-auto d-block" src="../../assets/images/transfer.svg" alt="Card image cap" style="width: 200px">
      <div class="card-body">
        <h5 class="card-title">Transfer Money</h5>
        <p class="card-text">Proceed to Transfer money from your account to another account.</p>
        <a (click)="onTransferClick()" class="btn btn-success">Transfer Money</a>
      </div>
    </div>

  </div>
</div>




